<ng-container *ngIf="weatherStore.state$ | async as state">
  <div class="container">
    <mat-accordion displayMode="flat">
      <mat-expansion-panel *ngFor="let city of state.cities; let last = last"
                           [class.last]="last" (opened)="onPanelOpen(city)" hideToggle>
        <mat-expansion-panel-header>
          <div fxFlex="100%" fxLayoutAlign="space-between center">
            <span>{{ city.name }}</span>
            <div fxLayoutAlign="start center">
              <img src="assets/icons/wind.png">
              <span fxFlexOffset="10px" class="wind">{{ state.windSpeed[city.name] | number:'1.0-0' }}m/s</span>
              <span fxFlex="50px" fxFlexOffset="40px" class="temperature">
                {{ state.temperature[city.name] | number:'1.0-0'}}&deg;
              </span>
            </div>
          </div>
        </mat-expansion-panel-header>

        <!--    forecast data    -->
        <ng-container *ngIf="state.forecast[city.name] as forecastList">
          <div fxLayoutAlign="space-between start">
            <div *ngFor="let item of forecastList" fxLayout="column" fxLayoutAlign="start center">
              <span>{{ item.dt_txt | date:'HH' }}</span>
              <img fxFlexOffset="5px" src="assets/icons/cloudy.png">
              <span fxFlexOffset="16px" class="temperature-forecast">{{ item.main?.temp | number:'1.0-0'}}&deg;</span>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
